body {
  color: white;
  background-color: black;
}
.fullscreen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullscreen-inflow {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
