body {
  color: rgb(158, 217, 219);
  background-color: black;
  background-image: url("background.jpg");
  background-size: cover;
}

body p > label {
  display: block;
}

body input:invalid {
  background-color: lightcoral;
}

h1 {
  color: rgb(158, 217, 219);
  text-align: center;
}

/** Colors:
rgb(23, 83, 95); - darkest turquoise
rgb(76, 150, 155); 
rgb(86, 191, 188);
rgb(158, 217, 219); 

rgb(21, 94, 86);
rgb(63, 132, 114);
rgb(244, 182, 55); - yellow
rgb(122, 203, 189);
*/

a:link {
  color: rgb(33, 164, 182);
  /**border-bottom: 1px solid #ff0000;*/
}
a:visited {
  color: rgb(33, 164, 182);
  /**border-bottom: 1px solid #b3b3b3;*/
}
a:hover {
  color: #2d8653;
  border-bottom: 1px solid #000099;
}

header {
  height: 90px;
  width: 100%;
  background-color: rgb(158, 217, 219);
  color: rgb(23, 83, 95);
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
  margin: 0 0 100px 0;
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgb(23, 83, 95);
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
  margin: 0 0 100px 0;
}

.account-menu {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-header {
  color: rgb(23, 83, 95);
  background-color: rgb(76, 150, 155);
}

.card-body {
  color: rgb(23, 83, 95);
}

.fullscreen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullscreen-inflow {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
