body {
  color: rgb(158, 217, 219);
  background-color: black;
  background-image: url("background.jpg");
  background-size: cover;
  overflow-x: hidden;
}

body p > label {
  display: block;
}

body input:invalid {
  background-color: lightcoral;
}

h1,
h2,
h3,
h4 {
  color: rgb(158, 217, 219);
  text-align: center;
}

#root {
  background: rgba(0, 0, 0, 0.4);
}

/** Colors:
rgb(23, 83, 95); - darkest turquoise
rgb(76, 150, 155);
rgb(86, 191, 188);
rgb(158, 217, 219);

rgb(21, 94, 86);
rgb(63, 132, 114);
rgb(244, 182, 55); - yellow
rgb(122, 203, 189);
*/

a:link {
  color: rgb(33, 164, 182);
  /**border-bottom: 1px solid #ff0000;*/
}
a:visited {
  color: rgb(33, 164, 182);
  /**border-bottom: 1px solid #b3b3b3;*/
}
a:hover {
  color: #2d8653;
  border-bottom: 1px solid #000099;
}

header {
  height: 90px;
  width: 100%;
  background-color: rgb(158, 217, 219);
  color: rgb(23, 83, 95);
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgb(23, 83, 95);
  color: #ffffff;
  text-align: center;
  border-radius: 15px;
  font-size: 1em;
}

.account-menu {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.center {
  margin: 0 auto;
  display: block;
}

.logo {
  height: 40px;
  border-radius: 15px;
  overflow: hidden;
  perspective: 1px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-header {
  color: rgb(23, 83, 95);
  background-color: rgb(76, 150, 155);
}

.card-body {
  color: rgb(23, 83, 95);
}

.list-group-item {
  color: rgb(23, 83, 95);
}

.listgrouphead {
  color: rgb(23, 83, 95);
  background-color: rgb(76, 150, 155);
}

.chat-frame {
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fullscreen {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fullscreen-inflow {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.game-board {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*z-index: -1;*/
}

.game-board canvas {
  position: absolute;
  top: 13vh;
}

.game-board-space {
  width: 100vw;
  height: 60vh;
}


.nav-arrow {
  z-index: 5;
  position: relative;
  background: rgb(158, 217, 219);
  border: 4px solid rgb(23, 83, 95);
}

.nav-arrow:after, .nav-arrow:before {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.nav-arrow:after {
  border-color: rgba(255, 0, 0, 0);
  border-width: 20px;
}
.nav-arrow:before {
  border-color: rgba(0, 0, 255, 0);
  border-width: 26px;
}


#nav-arrow_Missions {
  position: absolute;
  left: 26px;
  top: 50%;
}

#nav-arrow_Missions:after, #nav-arrow_Missions:before {
  right: 100%;
  top: 50%;
}

#nav-arrow_Missions:after {
  border-right-color: rgb(158, 217, 219);
  margin-top: -20px;
}

#nav-arrow_Missions:before {
  border-right-color: rgb(23, 83, 95);
  margin-top: -26px;
}

#nav-arrow_Teams {
  position: absolute;
  right: 26px;
  top: 50%;
}

#nav-arrow_Teams:after, #nav-arrow_Teams:before {
  left: 100%;
  top: 50%;
}

#nav-arrow_Teams:after {
  border-left-color: rgb(158, 217, 219);
  margin-top: -20px;
}

#nav-arrow_Teams:before {
  border-left-color: rgb(23, 83, 95);
  margin-top: -26px;
}

#nav-arrow_Planet {
  position: absolute;
  right: 50%;
  top: 116px;
  width: 120px;
  margin-right: -60px;
}

#nav-arrow_Planet:after, #nav-arrow_Planet:before {
  bottom: 100%;
  left: 50%;
}

#nav-arrow_Planet:after {
  border-bottom-color: rgb(158, 217, 219);
  margin-left: -20px;
}

#nav-arrow_Planet:before {
  border-bottom-color: rgb(23, 83, 95);
  margin-left: -26px;
}


#nav-arrow_Chat {
  position: relative;
  left: 50%;
  width: 70px;
  margin-left: -35px;
}

#nav-arrow_Chat:after, #nav-arrow_Chat:before {
  top: 100%;
  left: 50%;
}

#nav-arrow_Chat:after {
  border-top-color: rgb(158, 217, 219);
  margin-left: -20px;
}

#nav-arrow_Chat:before {
  border-top-color: rgb(23, 83, 95);
  margin-left: -26px;
}
